/*
    Theme Nanme: Motos y servitecas WooCommerce
    Theme URI:
    Descripction: Tema para E-commerce de Motos y Servitecas de Colombia
    Author: Arley Nicolas Muñoz Alvarez
    Template: storefront
    Version: 2.2
    License: GNU General Public License v2 or later
    Tags: Woocommerce, servitecas, motos, responsive, ecommerce
    Text Domain: mysecommerce
*/
